h1 {
  font-size: 1.3em;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid black;
}

.appContainer {
  width: 200px;
  height: 400px;
}

.slideContainer {
  position: relative;
  height: 100%;
  border: 1px solid black;
  overflow-x: hidden;
}

.slidePage {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  transition: transform 0.5s;
}

.slidePage:last-child {
  transform: translateX(100%);
}

.itemList {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.itemList li, .goBack {
  cursor: pointer;
  padding: 0.5em 1em;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
}

.itemList li:hover, .goBack:hover {
  background-color: lightgray;
}

.rightArrow {
  float: right;
}
